.rounded-float-left {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.logo {
  font-weight: bold !important;
}

.workouts {
  margin-right: 20px;
}

.joinButton1 {
  position: absolute;
  bottom: 15%;
  left: 42%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.joinButton2 {
  position: absolute;
  bottom: 15%;
  left: 58%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bg {
  width: 100%;
  height: 100%;
}

body {
  background-color: #dad5d1;
}

.dropdown {
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 2px;
}