h1 {
    color: black;
    margin-left: 6%;
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
}

h2 {
    color: black;
    margin-left: 6%;
    font-size: 25px;
}

.back-button {
  color: black;
  margin-left: 6%;
  margin-bottom: 1%;
  font-size: 10px;
}

.container {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    border: 1px solid #333; /* Border style with 1 pixel width */
    padding: 20px; /* Padding inside the box */
    background-color: white; /* Set background color to white */
  }
  
  .wo {
    max-width: 50%; /* Set maximum width for the image */
    margin-right: 20px; /* Add spacing between image and text */
  }
  
  p {
    flex-grow: 1; /* Allow paragraph to grow and take up remaining space */
  }

  body {
    background-color: #dad5d1;
  }
